<form asp-action="Index">
    <input type="text" name="MaNV" placeholder="Nhập Mã Nhân Viên">
    <input type="text" name="TenNV" placeholder="Nhập Tên">
    <input type="text" name="Tuoi" placeholder="Nhập Tuổi">
    <input type="text" name="Luong" placeholder="Nhập Lương">
    <input type="submit" value="Gửi dữ liệu">
</form>
<h1>@ViewBag.thongbao</h1>