<form asp-action="Index">
<input type="text"name ="PersonID" placeholder="Nhập CCCD">
<input type="text" name="FullName" placeholder="Nhập Họ và Tên">
<input type="submit" value="Gửi dữ liệu">
</form>
<h1>@ViewBag.thongbao</h1>