<form asp-action="Index">
    <input type="text" name="FullName" placeholder="Nhập Tên">
    <input type="text" name="SĐT" placeholder="Nhập SĐT">
    <input type="submit" name="Send">
</form>
<h1>@ViewBag.thongbao</h1>