<form asp-action="Index">
<input type="text" name="StudentID" placeholder="Nhập MSV">
<input type="text" name="FullName" placeholder="Nhập tên">
<input type="text" name="Tuoi" placeholder="Nhập Tên">
<input type="submit" value="Send">
</form>
<h1>@ViewBag.Nhandulieu</h1>